extends navbar

//- generates the documentation for a function
mixin post(module, funcName, funcDesc, paramNames, paramTypes, paramDescs, resultName, resultType, resultDesc, errors)
  - var argBracket = "(" + paramNames.join(", ") + ")"
  - var h4tag = "numbers." + module + ".<b>" + funcName + "</b>" + argBracket

  div.api-func(id=funcName)
    h4!= h4tag
    p!= funcDesc
    table
      tr
        th Parameters
        td
          each param, i in paramNames
            p
              b= param
              |  : 
              i= paramTypes[i]
              br
              div.desc= paramDescs[i]
      tr
        th Returns
        td
          p
            b= resultName
            |  : 
            i= resultType
            div.desc!= resultDesc
      tr
        th Errors
        if Array.isArray(errors)
          td
            p An error is thrown if:
            ul
              each error in errors
                li!= error
        else
          td
            p This function does not raise any errors.
    hr

block title
  title numbers.js documentation
block cssfile
  link(type='text/css', rel='stylesheet', href='./css/doc.css')
block activeTab
  li
    a(href='./index.html')
      | Home 
      span.glyphicon.glyphicon-home
  //- li: a(href='#') Download
  li: a(href='./examples.html') Examples
  li.active.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      | Documentation
      span.caret
    ul.dropdown-menu(role='menu')
      li: a(href='./basic.html') basic
      li: a(href='./calculus.html') calculus
      li: a(href='./complex.html') complex
      li: a(href='./dsp.html') dsp
      li: a(href='./generate.html') generate
      li: a(href='./matrix.html') matrix
      li: a(href='./prime.html') prime
      li: a(href='./random.html') random
      li: a(href='./statistic.html') statistic

block content
  span#sidebar
    ul
      for func in data
        - var liTag = module + "." + func.funcName
        li
          a(href="#"+func.funcName)= liTag

  span#api-cont
    block moduleName
      h3: strong numbers.basic
    for func in data
      +post(module, func.funcName, func.funcDesc, func.paramNames, func.paramTypes, func.paramDescs, func.returnName, func.returnType, func.returnDesc, func.errors)